<div id="<%= dom_id content %>">
  <p>
    <strong>Sub title:</strong>
    <%= content.sub_title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= content.text %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= content.story_id %>
  </p>

</div>
