<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= story.summary %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= story.published_at %>
  </p>

</div>
